@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* ------- NAVIGATION BAR ----------- */

.navbar {
  width: 100%;
  font-family: "Ubuntu", "sans-serif";
  padding: 32px 15px;
  position: fixed;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 13px 0px;
  background-color: crimson;
  z-index: 1;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85%;
  margin: auto;
  padding: 4px 75px;
}

.navbar .cart .logo a {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
}

.navbar .cart .logo a span {
  color: crimson;
}

.navbar.sticky .cart .logo a span {
  color: white;
  transition: all 0.3s ease;
}

.navbar .cart li {
  display: inline-block;
  list-style: none;
}

.navbar .cart li a {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  margin-left: 2rem;
  transition: color 0.3s ease;
}

.navbar .cart li a:hover {
  color: crimson;
}

.navbar.sticky .cart li a:hover {
  color: #fff;
}

/* ------- GENERAL CSS ----------- */

.about,
.skills,
.contact,
.services {
  font-family: "Poppins";
  padding-top: 90px;
}

/* ------- HOME SECTION ----------- */

.home {
  font-family: "Ubuntu", "sans-serif";
  color: #fff;
  background-color: black;
  height: 100vh;
  display: flex;
  min-height: 500px;
}
.home .cart {
  width: 100%;
  padding-bottom: 50px;
}

.home .Home-left-content .text-1 {
  font-size: 27px;
  margin: 15px;
}
.home .Home-left-content .text-2 {
  font-size: 75px;
  font-weight: bold;
}
.home .Home-left-content .text-3 {
  font-size: 40px;
  margin: 5px 0px;
}

.home .Home-left-content span {
  color: crimson;
  font-weight: 500;
}

.button {
  display: inline-block;
  background-color: crimson;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 7px 23px;
  margin: 14px 0px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.button:hover {
  color: crimson;
  background: transparent;
}

/* ------- ABOUT-US ----------- */

.title {
  font-family: "Ubuntu";
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 3px;
  padding-bottom: 3px;
}
.title-color-change {
  color: #fff;
}

.title-below {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 18%;
  margin-bottom: 30px;
}

.title-below h3 {
  font-family: "Ubuntu";
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  font-weight: 500;
}

.title-below hr {
  width: 16%;
  display: inline-block;
  border: 1.6px solid #111;
  background-color: #111;
  border-radius: 4px;
  margin: 5px;
}

.title-below-change hr {
  border: 1.6px solid #fff;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 80px;
}

.content .first-column-content img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.content .second-column-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.content .second-column-content {
  width: 55%;
}

.content .second-column-content a,
.form-button {
  font-size: 17px;
  padding: 8px 22px;
  margin: 9px 0px;
  border-radius: 7px;
}
.content .second-column-content span {
  color: crimson;
}
.content .second-column-content p {
  text-align: justify;
}
.content .tab-title {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  margin: 18px 0px;
}

.content .tab-title .tab-title-item {
  margin: 7px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s all ease-in;
  width: 100%;
  background-color: crimson;
  color: white;
  border: 2px solid crimson;
  border-radius: 7px;
  font-size: medium;
  font-weight: inherit;
  transition: 0.3s all ease-in;
}
.content .tab-title .tab-title-item:hover {
  background-color: #fff;
  color: crimson;
}

.content .second-column-content li {
  list-style: none;
  font-weight: 500;
  padding: 5px;
}

.content .tab {
  display: none;
}
.content .active {
  display: block;
}

/* ------- SERVICES ----------- */
.services {
  color: #fff;
  background-color: black;
  height: 88vh;
}

.services .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 53px auto;
  width: 80%;
}
.box {
  width: calc(31% - 20px);
  height: 42vh;
  background: #222;
  text-align: center;
  border-radius: 9px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s all ease-in;
}

.box:hover {
  background-color: rgb(56, 26, 32);
  color: #fff;
}
.box h2 {
  font-weight: 600;
}

.fa-crop-simple::before {
  content: "\f565";
}

.box i {
  font-size: 55px;
  color: crimson;
  padding: 10px;
  margin-top: 2px;
}
.box h2,
p {
  margin: 2px;
}

/* ------- SKILLS ----------- */

.cart .content .skill-information {
  width: 46%;
}
.cart .content .skill-information .bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.cart .content .skill-information .bar span {
  font-weight: 500;
  font-size: 18px;
}

.cart .content .skill-information .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.cart .content .skill-information .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}

.cart .content .skill-information .c::before {
  width: 75%;
}
.cart .content .skill-information .cplus::before {
  width: 80%;
}
.cart .content .skill-information .java::before {
  width: 72%;
}
.cart .content .skill-information .python::before {
  width: 68%;
}
.cart .content .skill-information .git::before {
  width: 80%;
}
.cart .content .skill-information .spring::before {
  width: 58%;
}

.cart .content .skill-information .html::before {
  width: 85%;
}
.cart .content .skill-information .css::before {
  width: 75%;
}
.cart .content .skill-information .js::before {
  width: 65%;
}
.cart .content .skill-information .react::before {
  width: 70%;
}
.cart .content .skill-information .php::before {
  width: 65%;
}
.cart .content .skill-information .mysql::before {
  width: 80%;
}

.skills .my-skils-and-experience {
  margin: auto;
  width: 75%;
  text-align: center;
  padding: 25px;
}

/* ------- CONTACT ----------- */

.fa-user:before {
  content: "\f007";
}
.fa-place:before {
  content: "\f3c5";
}
.fa-email:before {
  content: "\f0e0";
}
.fa-phone:before {
  content: "\f017";
}

.contact .contact-us-cart {
  padding-top: 25px;
}

.contact .cart .content .icons .row {
  display: flex;
  align-items: center;
  margin: 16px;
}
.contact .cart .content .icons .key {
  font-weight: 600;
  color: crimson;
}
.contact .cart .content .icons .info {
  margin-left: 30px;
}

.contact .cart .form input,
.contact .cart .form textarea {
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 8px 15px;
  margin: 3px 0px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.contact .cart .form input[placeholder="Subject"] {
  width: 100%;
}

.content .form h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
#get-into-touch {
  width: 40%;
}

/* ------- FOOTER ----------- */

footer {
  font-family: "Poppins";
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
.fa-copyright::before {
  content: "\f1f9";
}

footer span {
  color: crimson;
}
/* ------- RESPONSIVE ----------- */
@media (max-width: 1065px) {
  /* .menu-btn button
  {
    display: inline-block;
    z-index: 999;
  } */
  .cart {
    padding: 4px 10px;
  }

  .navbar .cart ul {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #111;
    text-align: center;
    padding-top: 90px;
    display: none;
  }
  .navbar .cart li {
    display: block;
  }
  .navbar .cart li a {
    display: inline-block;
    margin: 26px 0px;
    font-size: 26px;
  }
  .home .cart .Home-left-content .text-2 {
    font-size: 75px;
  }
  .home .cart .Home-left-content .text-3 {
    font-size: 40px;
  }
}

@media (max-width: 630px) {
  .navbar {
    padding: 32px 0px;
  }
  .navbar.sticky {
    padding: 12px 0px;
  }
  .cart {
    padding: 0px;
  }
  .home .cart .Home-left-content .text-1 {
    margin: 5px 0px;
  }
  .home .cart .Home-left-content .text-2 {
    font-size: 50px;
  }
  .home .cart .Home-left-content .text-3 {
    font-size: 30px;
  }

  .home .Home-left-content a {
    font-size: 21px;
    padding: 5px 17px;
    margin: 8px 0px;
  }
}
